tas_mobile/src/test/resources/schemas/issues_xsd_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Thu Nov 02 2017 11:42:35 GMT-0300 (Hora estándar de Argentina) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="issue">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"></xs:element>
                <xs:element name="project">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:int"></xs:attribute>
                        <xs:attribute name="name" type="xs:string"></xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tracker">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:int"></xs:attribute>
                        <xs:attribute name="name" type="xs:string"></xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="status">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:int"></xs:attribute>
                        <xs:attribute name="name" type="xs:string"></xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="priority">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:int"></xs:attribute>
                        <xs:attribute name="name" type="xs:string"></xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="author">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:int"></xs:attribute>
                        <xs:attribute name="name" type="xs:string"></xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="subject" type="xs:string"></xs:element>
                <xs:element name="description" type="xs:string"></xs:element>
                <xs:element name="start_date" type="xs:date"></xs:element>
                <xs:element name="due_date"></xs:element>
                <xs:element name="done_ratio" type="xs:int"></xs:element>
                <xs:element name="is_private" type="xs:string"></xs:element>
                <xs:element name="estimated_hours"></xs:element>
                <xs:element name="total_estimated_hours"></xs:element>
                <xs:element name="spent_hours" type="xs:decimal"></xs:element>
                <xs:element name="total_spent_hours" type="xs:decimal"></xs:element>
                <xs:element name="created_on" type="xs:dateTime"></xs:element>
                <xs:element name="updated_on" type="xs:dateTime"></xs:element>
                <xs:element name="closed_on"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>